{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Grabung {% endblock %}
{% block content %}
<!-- end header -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="breadcrumb">
        <li><a href="{% url 'webpage:start' %}"><i class="fa fa-home" style="color:white"></i></a><i class="icon-angle-right"></i></li>
        <li><a href="#" style="color:white;">Projekt</a><i class="icon-angle-right"></i></li>
        <li class="active">Grabung</li>
      </ul>
    </div>
  </div>
</div>

<div class="container" style="margin-top:25px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">

        <div class="col-lg-9">
          <div class="box-gray aligncenter">
            <h2>Thunau am Kamp – Grabung</h2>
            <hr width="10%">
            <p>
              Die Fundstelle in Gars-Thunau hat eine lange Forschungsgeschichte und erstreckt sich sowohl über mehrere Areale als auch archäologischen Zeitabschnitten. Die in diesem Projekt erfassten Daten entstammen zum Großteil den Kampagnen von em. o. Univ.-Prof. Dr. phil. Dr. h. c. Herwig Friesinger.
            </p>
            <p>
              Die vorhergehende Forschungsgeschichte, zB. Grabungen unter Joseph Höbarth, werden hier mitberücksichtigt. Eine fortlaufende Eingabe der Daten aus den Kampagnen von Szameit und Obenaus ist erwünscht und wäre im Sinne der Vollständigkeit und  auch als Test der Datenstruktur für weitere „Altgrabungen“ erstrebenswert. Dies kann aufgrund des Umfanges nur in weiteren Digitalisierungsprojekten erfolgen.
            </p>
            <p>
              Der Fokus des aktuellen Projektes liegt nun auf der Fundstelle am sogenannten „Schanzberg“, einem Höhenrücken oberhalb von Thunau, Gemeindegibiet Gars am Kamp, im nordwestlichen Niederösterreich ca. 80 km nordwestlich von Wien gelegen. Die strategisch günstige Lage an einer wichtigen Nord-Süd Route durch das Kamptal wurde vor allem in der Urnenfelderzeit zwischen 1050–800 v. Chr. und im Frühmittelalter (8.–11. Jh. n. Chr.) durch Errichtung großer Siedlungen genützt.
            </p>
            <p>
              In der jüngeren und späten Urnenfelderzeit (1050–800/750 v. Chr.) existierte auf dem Höhenrücken oberhalb von Thunau, auf der sog. „Holzwiese“, eine große Siedlungsanlage mit Abschnittsbefestigung. Auf Grund der Lage, Bewehrung und Größe kann eine zentrale Funktion für die Region angenommen werden. Die Siedlung ist von Osten, Norden und Süden durch einen natürlichen Steilabfall weitgehend unzugänglich. Im Westen, zur übrigen Hochfläche hin, wurde an der schmalsten Stelle des Geländerückens eine Abschnittsbefestigung errichtet.
            </p>
            <p>
              Der Wall verläuft vom südwestlichen Ende der „Holzwiese“, wo er direkt an einem Steilhang ansetzt, bogenförmig in Richtung Nordwesten. Er hat hier eine Basisbreite von fast 20 m und eine heute noch erhaltene Höhe von über 3 m und ist im nördlichen Verlauf noch fast bis ins Tal zu verfolgen. Eine Toranlage bestand im westlichsten Teil des Walles, am Übergang zu einer Geländerippe, die die Anlage mit der Hochfläche verbindet. Ein weiterer ca. 2,5 m breiter Einschnitt mit erkennbarer Wegtrasse konnte am südlichen Ende der Befestigung festgestellt werden. Die Konstruktion des Walles bestand aus aneinander gereihten Kästen, die aus Rundhölzern in Blocklage errichtet waren und mit Erde aufgefüllt und überdeckt wurden.
            </p>
            <p>
              Großflächige Grabungen haben gezeigt, dass die gesamte, ca. 20 ha große Anlage dicht besiedelt war. Im Bereich des Südwestwalles waren die Häuser direkt an den Wallkörper angebaut, teilweise mit tiefen, in den Fels eingegrabenen Kellerbereichen. Die Häuser waren in Ständerbauweise mit lehmverschmierten Flechtwerkwänden, teilweise auch in Blockbauweise errichtet. Es fanden sich zahlreiche Reste von Feuerstellen, Backöfen, Vorratsgruben, Webstuhlreste, Vorratsgefäße sowie übriges keramisches Hausinventar, das teilweise noch in Originallage angetroffen wurde und somit Einblick in den „Haushalt“ der spätbronzezeitlichen Bevölkerung gestattet.
            </p>
            <p>
              Etwa 250 m westlich der Siedlung war ein kleiner Friedhof angelegt, der großteils beim Bau des slawischen Walles zerstört wurde. Erhalten haben sich drei einfach ausgestattete Brandgräber. Ein weiterer Bestattungsplatz befand sich am Fuße der Anlage am Ausgang des nördlichen Seitentales zum Kamp. 1983 wurde hier anlässlich eines Kanalbaues ein Brandgrab entdeckt und teilweise zerstört. Ein zur Siedlung gehörendes, großes Gräberfeld wurde noch nicht gefunden.
            </p>
            <p>
              Über das Ende der urnenfelderzeitlichen Siedlung von Thunau vermuten wir, das diese um 800/750 herum brannte und offensichtlich durch das Feuer vollständig zerstört wurde. Danach wurden die Hütten nicht wieder aufgebaut.
            </p>

            <div class="row">
              <div class="col-lg-4">
              </div>
              <div class="col-lg-4 alignleft">
                <h4>Kampagnen</h4>
                Johann Krahuletz	1866-1913<br>
                Joseph Höbarth 	1929 - 1950<br>
                Hampl ?<br>
                Herwig Friesinger	 1965 – 1984<br>
                1985-1990<br>
                1993-2003	<br>
                Erik Szameit 		1993 – 2003<br>
                      2003- ?<br>
                Obenaus<br>
              </div>
            <div class="col-lg-4">
            </div>
          </div>

          </div>
        </div>

        <div class="col-lg-3">
          <div class="box-gray">
            <h5><i class="fa fa-camera fa" style="color: #331165" aria-hidden="true"></i> Gallerie</h5>
            <ul class="images">
              <div class="row">
                <div class="col-lg-12" style="">
                    <img originalUrl="{% static 'webpage/img/excavation01.png' %}" src="{% static 'webpage/img/excavation01.png' %}"  style="padding-top:5px;" class="img-responsive gallery-items" alt="">
                    <span style="font-size:9px;"> Abbildung 1:</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12" style="">
                    <img originalUrl="{% static 'webpage/img/excavation02.png' %}" src="{% static 'webpage/img/excavation02.png' %}"  style="padding-top:5px;" class="img-responsive gallery-items" alt="">
                    <span style="font-size:9px;"> Abbildung 2:</span>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12" style="">
                  <img originalUrl="{% static 'webpage/img/excavation03.png' %}" src="{% static 'webpage/img/excavation03.png' %}"  style="padding-top:5px;" class="img-responsive gallery-items" alt="">
                  <span style="font-size:9px;"> Abbildung 3:</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12" style="">
                  <img originalUrl="{% static 'webpage/img/excavation04.png' %}" src="{% static 'webpage/img/excavation04.png' %}"  style="padding-top:5px;" class="img-responsive gallery-items" alt="">
                  <span style="font-size:9px;"> Abbildung 4:</span>
              </div>
            </div>
          </ul>

          </div>
        </div>


      </div>
    </div>
  </div>

</div>


{% endblock %}
