{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Literatur {% endblock %}
{% block content %}
<!-- end header -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="breadcrumb">
        <li><a href="{% url 'webpage:start' %}"><i class="fa fa-home" style="color:white"></i></a><i class="icon-angle-right"></i></li>
        <li class="active">Literatur</li>
      </ul>
    </div>
  </div>
</div>

<div class="container" style="margin-top:25px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">

        <div class="col-lg-12">
          <div class="box-gray">
            <h2>Literatur</h2>
            <hr width="10%">
            <p>
              <ul></ul>
                <li>
                <b>Friesinger H., Friesinger I.</b>, Ein Vierteljahrhundert Grabungen in Thunau/Gars am Kamp, Archäologie Österreichs 2/1, 1991, 6–22.
                </li>
                <li>
                  <b>Gruber E., Verginis S.</b>, Sedimentologische Untersuchungen an Wallanlagen in Thunau, Niederösterreich, Archaeologia Austriaca 76, 1992, 197–208.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                  <b>Kanelutti E.</b>, Archäozoologische Untersuchungen am Schanzberg von Gars/Thunau. In: Bioarchäologie und Frühgeschichtsforschung, Archaeologia Austriaca Monographien 2, 1993, 169–184.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                  <b>Kern D.</b>, Thunau am Kamp – Eine befestigte Höhensiedlung (Grabung 1965–1990). Urnenfelderzeitliche Siedlungsfunde der unteren Holzwiese, Mitt. d. Prähist. Komm. 41, 2001.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                  <b>Lochner M.</b>, Ein Schmuckdepot der Urnenfelderzeit aus Thunau am Kamp, Niederösterreich, Archaeologia Austriaca 82/83, 1998/99, 181–186.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                  <b>Lochner M.</b>, Gussformen für Ringe aus urnenfelderzeitlichen Fundstellen Niederösterreichs, Archaeologia Austriaca 88, 2004, 103–120.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                  <b>Lochner  M.</b>,  Thunau  am  Kamp  –  eine  befestigte  Höhensiedlung  der  Urnenfelderkultur  und  der  außergewöhnliche Fund eines Tonfässchens. In: Blajer W. (Red.), Peregrinationes Archaeologicae in Asia et Europa Joanni Chochorowski Dedicatae, Instytut Archeologii Uniwersytetu Jagiellonskiego, Wydawnictwo Profil-Archeo, Kraków 2012, 193–203.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                  <b>Lochner M.</b>, Zur Ausstattung von Hanghaus 01 der urnenfelderzeitlichen befestigten Höhensiedlung von Thunau   am   Kamp,   Niederösterreich.   In:  Z  Badań  nad  Kulturą  społeczenstw  Pradziejowych  i Wczesnośredniowiecznych,  Księga  Jubileuszowa  Dedykowana  Profesorowi  Bogusławowi  Gedidze, Institute of Archaeology and Ethnology Polish Academy of Sciences, Wrocław 2014, 307–319.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                  <b>Lochner M.</b>, Thunau am Kamp – eine befestigte Höhensiedlung der Urnenfelderkultur. Grundlagen und aktuelle Forschungsergebnisse. In: Proceedings of the International Conference “Late Urnfield Culture between the Eastern Alps and the Danube”, Zagreb 7th–8th, 2013, 2013, Institute of Archaeology, Zagreb, accepted, 2015.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                  <b>Popovtschak M., Zwiauer K.</b>,  Thunau  am  Kamp  – Eine  befestigte  Höhensiedlung.  Archäobotanische Untersuchungen  urnenfelderzeitlicher  und  frühmittelalterlicher  Befunde.  Bestandsaufnahme  der  Grabungskampagnen bis einschließlich 1995, Mitt. d. Prähist. Komm. 52, 2003.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                  <b>Schierer I.</b>, Ein Webstuhlbefund aus Gars-Thunau, Niederösterreich. Rekonstruktionsversuch und Funktionsanalyse, Archaeologia Austriaca 71, 1987, 29–87.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                  <b>Stadler P., Draxler S., Friesinger H., Kutschera W., Priller A., Rom W., Steiner P., Wild E.</b>, Die  Absolutdatierung  der  urnenfelderzeitlichen  und  frühmittelalterlichen  Wallanlage  von  Thunau  am  Kamp, MG Gars am Kamp, Niederösterreich mit Hilfe von 14C-Daten, Archaeologia Austriaca 82–83, 1998–1999, 39–45.
                </li>
                <li  style="text-indent:-2em;margin-left:2em;">
                    <b>Wewerka B.</b>, Thunau am Kamp – Eine befestigte Höhensiedlung (Grabung 1965–1990). Urnenfelderzeitliche Siedlungsfunde der oberen Holzwiese, Mitt. d. Prähist. Komm. 38, 2001.
                </li>
              </ul>

            </p>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>


{% endblock %}
