{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Imprint {% endblock %}
{% block content %}
<div class="container">
  <div class="text-center">
    <h1>Using and Citing Dokuplattform Thunau</h1>
    <hr width="10%">
  </div>
  <div class="row">
    <div class="col-md-12">
    <p>
    Unless stated otherwise, all A Dokuplattform Thunau online data is licensed by OREA ÖAW under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a> license. As such, you are free to share, use and remix Dokuplattform Thunau data, as long as you attribute the source data accordingly.
    </p>
    <p>
    When citing Dokuplattform Thunau records please refer to the URL of the site and the date accessed.
    Example of citation:<br>
    Dokuplattform Thunau, <i>https://thunau.acdh.oeaw.ac.at/site</i>, (29/09/2018).
    </p>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>
{% endblock %}
